<!--
	About/help page
-->	
<div data-role="page" id="page-about">

	<div data-role="header">
		<h1>
			<span data-lang="en">About</span>
			<span data-lang="pl">Info</span>
		</h1>
	</div><!-- /header -->

	<div data-role="content">
		<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
			<div data-role="collapsible" data-collapsed="false">
				<h2>
					<span data-lang="pl">O aplikacji</span>
					<span data-lang="en">About</span>
				</h2>
				<div data-lang="pl">
					<p>
						MójPokedex to Pokedex dla Pokemon GO.
						Oprócz samej listy pokemnów dostępne są też listy ataków danego pokemona
						wraz DPS (damage per second, czyli obrażenia na sekundę).
					</p>
					<p>Wersja aplikacji ${mJ.widget.version}.</p>
				</div>
				<div data-lang="en">
					<p>
						MyPokedex is a Pokedex for Pokemon GO.
						It includes available attacks 
						and DPS (damage per second) calculation for each pokemon.
					</p>
					<p>App version ${mJ.widget.version}.</p>
				</div>
			</div>
			<div data-role="collapsible" data-collapsed="true">
				<h2>
					<span data-lang="pl">Warunki użytkowania</span>
					<span data-lang="en">Terms of usage</span>
				</h2>
				<div data-lang="pl">
					<p>App Copyright &copy; 2016 Maciej "Nux" Jaros.</p>
					<p>Licencja <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC-BY</a>.</p>
					<p>Informacje na temat autorów i licencji dla poszczególnych bibliotek znajdują się w odpowiednich plikach JS oraz CSS.</p>
					<p>
						<strong>Uwaga!</strong> Obrazki pokemonów są własnością Niantic oraz The Pokemon Company.
						Obrazki użyto na zasadach <em>fair use</em>.
						Aplikacja jest wyłącznie informacyjna i udostępniana całkowicie za darmo.
					</p>
					<p>
						Ta aplikacja <strong>nie ma</strong> nic wspólnego z Niantic ani The Pokemon Company.
					</p>
				</div>
				<div data-lang="en">
					<p>App Copyright &copy; 2016 Maciej "Nux" Jaros.</p>
					<p>License <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC-BY</a>.</p>
					<p>Libraries copyright and license information is avaiable in the JS and CSS files.</p>
					<p>
						<strong>Note!</strong> Pokemon images are owned by the Niantic and The Pokemon Company.
						They are used here under the <em>fair use</em> rules.
						This application is non-profit and purely informational.
					</p>
					<p>
						Also note that this application <strong>is not</strong> associated with the Niantic or The Pokemon Company.
					</p>
				</div>
			</div>
			<div data-role="collapsible" data-collapsed="true">
				<h2>
					<span data-lang="pl">Zgłoszenia błędów i kontakt</span>
					<span data-lang="en">Bug reports and contact</span>
				</h2>
				<div data-lang="pl">
					<p>
						Do zgłaszania błędów itp proszę używać Github:
						<a href="https://github.com/Eccenux/MyPokedex/issues">github.com/.../MyPokedex/issues</a>
					</p>
					<p>Jeśli nie lubisz Github, albo chcesz się skontaktować w innej sprawie, to
						<a href="mailto:eccenux+pokedex@gmail.com?subject=Pokedex feedback">wyślij mi e-mail</a>.
					</p>
				</div>
				<div data-lang="en">
					<p>
						Please use Github to send reports about the app (both bugs and new features):
						<a href="https://github.com/Eccenux/MyPokedex/issues">github.com/.../MyPokedex/issues</a>
					</p>
					<p>For different feedback (or if you don't like Github) you can
						<a href="mailto:eccenux+pokedex@gmail.com?subject=Pokedex feedback">e-mail me</a>.
					</p>
				</div>
			</div>
		</div>
	</div><!-- /content -->
	
</div><!-- /page -->