<!--
	Pokemon NPC card.
-->
<div data-role="page" id="page-pokemonCard" data-ignore-visit="true">

	<div data-role="header">
		<a
			data-binding-hide-on-empty="previousPokemonUrl"
			data-binding-key-attribute="previousPokemonUrl:href"
			href="" data-binding-key="previousPokemonName"
			data-icon="arrow-l"
			data-iconpos="left"
			>&nbsp;</a>
		<h1 data-binding-key="name">Pokemon</h1>
		<a
			data-binding-hide-on-empty="nextPokemonUrl"
			data-binding-key-attribute="nextPokemonUrl:href"
			href="" data-binding-key="nextPokemonName"
			data-icon="arrow-r"
			data-iconpos="right"
			>&nbsp;</a>
	</div><!-- /header -->

	<div data-role="content" class="pokemon-card pokemon-icons-large">
		<div class="error-message"></div>
		<div class="post-validation-content" style="display: none">
			<div data-binding-key-attribute="imageClass:class"></div>
			<span data-binding-key="type1" data-binding-key-attribute="type1Class:class"></span>
			<span data-binding-hide-on-empty="type2">
				<span data-binding-key="type2" data-binding-key-attribute="type2Class:class"></span>
			</span>
			<div class="attacks-container"></div>
			<div data-lang="pl">
				<p>
					<strong>*) DPS</strong> (<em>damage per second</em>, obrażenia na sekundę)
					&mdash; w tej kolumnie uwzględniony został bonus dla ataków tego samego typu co pokemon,
					czyli tzw. STAB (<em>same type attack bonus</em>).
				</p>
				<p>
					<strong>Oznaczenia przed nazwą ataku</strong>
					<br>☒ atak nie występuje już w przyrodzie,
					<br>☑ atak może się pojawić u złapanego pokemona
					<br>(<a target="_blank" href="https://fevgames.net/pokemon-go-balance-update-august-20-2016/"
						>więcej na fevgames</a>).
				</p>
			</div>
			<div data-lang="en">
				<p>
					<strong>*) DPS</strong> (damage per second)
					&mdash; note that the column inclundes bonus for attacks of the same type as the pokemon,
					so called STAB (<em>same type attack bonus</em>)
				</p>
				<p>
					<strong>Markings before attack name</strong>
					<br>☒ attack is no longer availble in the wild,
					<br>☑ attack can appear in newly acquired pokemon.
					<br>(<a target="_blank" href="https://fevgames.net/pokemon-go-balance-update-august-20-2016/"
						>more on fevgames</a>).
				</p>
			</div>
			<!--
			<div data-binding-hide-on-empty="previousPokemonName" data-role="navbar">
				<ul>
					<li><a data-binding-key-attribute="previousPokemonUrl:href"
					href="" data-binding-key="previousPokemonName"
					data-icon="arrow-l"
					data-iconpos="left"
					>&nbsp;</a></li>
					<li><a data-binding-key-attribute="nextPokemonUrl:href"
					href="" data-binding-key="nextPokemonName"
					data-icon="arrow-r"
					data-iconpos="right"
					>&nbsp;</a></li>
				</ul>
			</div>
			-->
		</div>
	</div><!-- /content -->

</div><!-- /page -->